* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 0 50px;
    border-bottom: 1px solid rgba(25, 137, 250, 0.7);
}

.content {
    margin: 40px 70px;
    text-align: center;
}

.item {
    text-decoration: none;
    font-size: 30px;
    color: rgba(25, 137, 250, 0.7);
    &:hover {
         color: rgb(25, 137, 250);
     }
}