{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "standard",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ]
}
