# ide
.idea
.DS_Store
*.iml

# dependencies
node_modules

#files/folder
package-lock.json
middlewareDist
clientDist
serviceProductsDist
serviceUsersDist
serviceAuthDist
serviceMysqlDist

#log
packages/log
*debug.log
