.content {
  margin: 20px 60px;
  text-align: center;
}

.btn-group {
  margin: 6px 0;

  button {
    outline: none;
    border: 1px solid #eee;
    background: red;
    color: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    cursor: pointer;

  &:hover {
      background: green;
    }

  &:active {
      background: red;
    }

  &:disabled {
      cursor: not-allowed;
      background: red;
    }
  }
}

.input-group {
  margin: 6px 0;
  font-size: 14px;
  input {
    outline: none;
    padding: 2px;
    text-indent: 4px;
  }
}
.table {
  line-height: 2;
  font-size: 16px;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #eee;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #eee;
  &.active {
      background: red;
    }
  }
  tbody {
    tr:last-child {
      border-bottom: none;
    }
  }
}
